.menu-list {
    width: 75%;
}

.container .product-item {
    min-height: 450px;
    border: none;
    display: grid;
    grid-template-columns: repeat(3);
    gap: 20px;
    position: relative;
    border-radius: 0;
}
.my-shadow{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.no-scroll{
    overflow: hidden;
}
.scale:hover{
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    background-color: #d6e05e;
}

.btn:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}
.my-btn:hover {
    filter: hue-rotate(90deg);
}

textarea::-webkit-scrollbar {
    width: 3px; /* Lebar track */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #303030;
}
.readonly-textarea {
    border: none;
    resize: none;
    cursor: default;
}

.no-resize{
    resize: none;
}
.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-skill{
    width: max-content;
}
.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod;
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.bg-green {
    background-color: #37b437 !important;
    color: #fff;
}

.bg-blue {
    background-color: #4d99db;
    color: #fff;
}

.bg-yellow {
    background-color: #c2cb5c;
    color: #fff;
}
.bg-red {
    background-color: #bb3535;
    color: #fff;
}
